*{
    box-sizing: border-box;
}
html
body{
    min-height: 100%;
}
a:hover{
   
    font-weight: bold;  
 } 
form{
    width:40%;
}
.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    padding: 20px;
 
}
.logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container{
    max-height: 100%;

}

.cardhover{
    text-align: center;   
}

.cardhoverimg{
    height: 50px;
    width:50px;
  
}
.cardhover:hover{
    background-color:green;
    cursor: pointer;
}

.cardhoverimg:hover{
    transform: scale(1.5);
 
    cursor: pointer;
}

.alignment{
   float: right;
}

.alignleft{
    float: left;
}